body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: start;
  padding-top: 5rem;
  align-items: center;
  flex-direction: column;
  background-color: rgb(33, 33, 33);
  height: 90dvh;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}